@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<PCAssembly.Component>

@{
    ViewData["Title"] = "Components";
}

<h1>Компоненты</h1>

<p>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back to Admin Panel</a>
</p>
<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Тип</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeComponents.TypeComponentsId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ComponentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ComponentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ComponentId">Delete</a>
                    </td>
                </tr>
}
    </tbody>
</table>

<div class="pagination justify-content-center">
    @Html.PagedListPager(Model, 
            page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        UlElementClasses = new[] { "pagination" }, // Передаем массив строк
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        PreviousElementClass = "page-item",
        NextElementClass = "page-item",
        ActiveLiElementClass = "active"
    })
</div>